---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | rian" description="About Hilman Satia Pebrian">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/rian2.jpg"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
					 <a href="https://astro.build/">Astro</a> I am an Information Technology student at Universitas Aisyiyah Yogyakarta (UNISA) with a strong interest in programming and technology. Currently, I am exploring various fields within IT, such as software development and UI/UX design. Outside of technology, I have a passion for sports, particularly karate, where I have earned several achievements in competitions.
					</p>
					
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills and Achievements</h2>
				<div class="content">
					<p>Programming: Experienced in programming languages such as C and exploring Full Stack Development and UI/UX Design.
					</p>
					<p>Swimming Competition: 3rd place in a swimming competition in Mataram, Lombok Barat.
					</p>
					<p>Karate Competition: 2nd place in a provincial-level karate competition in Malang.
					</p>
					<p>Coding Competition: 2nd place in a high school coding competition, honing my technical skills and logical thinking.</p>
					<p>Technology Projects: Involved in several application and web development projects, which have given me the opportunity to work in teams and enhance my technical skills.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Goals and Aspirations:</h2>
				<div class="content">
					<p>I am excited to continue learning and growing in the field of Information Technology. In the future, I aim to combine my technical expertise with interpersonal skills to create solutions that benefit both society and the tech industry.

					</p>
				</div>
			</section>
		</main>

	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
